.item {
    width: 550px;
    height:58px;
    border:0;
    border-bottom: 1px solid #ededed;
    position: relative;
    left:0;
    top:0;
}

.item input{
    display: inline-block;
}

.item .completed-button{
    width :40px;
    height: 40px;
    margin: auto 0;
}

.item .content-input{
   /* width:510px;*/
    height:58px;
    line-height:58px;
    font-size:24px;
}

.item .delete-item{
    display: none;
    position: absolute;
    width:40px;
    height:40px;
    margin:auto 10px;
    right:0;
    top:0;
}

.item:hover .delete-item{
    display: block;
}


